<section class="ModelsComponent">
  <h2>Models list
    <button md-mini-fab mdTooltip="Add new model">
      <md-icon md-list-icon>add</md-icon>
    </button>
  </h2>

  <md-card>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th class="right">Edit</th>
        <th class="right">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>John</td>
        <td>john@example.com</td>
        <td>
          <button md-button mdTooltip="Edit model">
            <md-icon md-list-icon>edit</md-icon>
          </button>
        </td>
        <td>
          <button md-button mdTooltip="Delete model">
            <md-icon md-list-icon>delete</md-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>mary@example.com</td>
        <td>
          <button md-button mdTooltip="Edit model">
            <md-icon md-list-icon>edit</md-icon>
          </button>
        </td>
        <td>
          <button md-button mdTooltip="Delete model">
            <md-icon md-list-icon>delete</md-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>July</td>
        <td>july@example.com</td>
        <td>
          <button md-button mdTooltip="Edit model">
            <md-icon md-list-icon>edit</md-icon>
          </button>
        </td>
        <td>
          <button md-button mdTooltip="Delete model">
            <md-icon md-list-icon>delete</md-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </md-card>
</section>
