<nav class="NavbarComponent">
  <md-sidenav-container class="container">
    <md-sidenav #sidenav class="sidenav">
      <button md-button (click)="sidenav.close()">
        <md-icon md-list-icon>keyboard_arrow_left</md-icon>
      </button>

      <md-list class="">
        <md-list-item>
          <img src="../../../assets/images/logo.png" alt="logo">
        </md-list-item>
        <md-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="'/'" (click)="sidenav.close()">
          <md-icon md-list-icon>home</md-icon>
          <h3 md-line> Home </h3>
        </md-list-item>
        <md-list-item routerLinkActive="active" [routerLink]="'/camera'" (click)="sidenav.close()">
          <md-icon md-list-icon>camera</md-icon>
          <h3 md-line> Camera </h3>
        </md-list-item>
        <md-list-item routerLinkActive="active" [routerLink]="'/settings'" (click)="sidenav.close()">
          <md-icon md-list-icon>settings</md-icon>
          <h3 md-line> Settings </h3>
        </md-list-item>
        <hr/>
        <md-list-item routerLinkActive="active" [routerLink]="'/login'" (click)="sidenav.close()">
          <md-icon md-list-icon>account_circle</md-icon>
          <h3 md-line> Login </h3>
        </md-list-item>
        <md-list-item (click)="sidenav.close()">
          <md-icon md-list-icon>account_circle</md-icon>
          <h3 md-line> Logout </h3>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <div class="content">
      <button class="menuButton" md-button (click)="sidenav.open()">
        <md-icon md-list-icon>keyboard_arrow_right</md-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

</nav>
