.NavbarComponent {
  position: fixed;
  left: 0;
  top: 0;
  .container {
    width: auto;
    height: 100vh;
  }

  .content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sidenav {
    padding: 20px;
  }
}
