<!--<a-scene artoolkit='sourceType: webcam' look-controls enabled="false">-->
  <!--<a-entity position="0 1.8 4" >-->
    <!--<a-cursor color="#4CC3D9"></a-cursor>-->
  <!--</a-entity>-->
  <!--<a-marker *ngFor="let item of items$|async" type="barcode" [attr.value]="item.marker_number">-->
    <!--<a-obj-model [attr.src]="item.model" position="0 0 -3" scale="0.1 0.1 0.1" (click)="getRecognizedBarcode(item.id)"></a-obj-model>-->
  <!--</a-marker>-->
<!--</a-scene>-->

<div class="crosshair">
  <img src="../../../assets/images/crosshair.png">
</div>
