<section class="LoginComponent">

      <form #loginForm ngNoForm (submit)="userLogin();">
        <img src="../../../assets/images/logo.png">
        <md-input-container>
          <input type="text" mdInput [(ngModel)]="user.username" placeholder="Login...">
        </md-input-container>
        <md-input-container>
          <input type="password" mdInput [(ngModel)]="user.password" placeholder="Password...">
        </md-input-container>
        <button md-button>Login</button>
      </form>



</section>
